*{
    padding:0;
    margin: 0;
}
html,body{
    height: 100%;
    background: url(../images/bg1.jpg) center center no-repeat;
    background-attachment: fixed;
}
.head{
    width: 100%;
    height: 78px;
    background: #fff;
    position: fixed;
    left: 0;
    top:0;
    z-index: 99;
}
.logo{
    width: 4%;
    height: 52px;
    float: left;
    margin-left: 3%;
    margin-top: 15px;
}
.head-left{
    width: 16%;
    height: 27px;
    font-size: 16px;
    font-size: 1.6rem;
    float: left;
    margin-left: 6%;
    margin-top: 20px;
    color: #00214e;
}
.head-right{
    width: 42%;
    height: 20px;
    float: right;
    margin-top: 26px;
    margin-right: 3%;
}
.head-right a{
    font-size: 8px;
    font-size: 0.8rem;
    color: #275a8f;
    margin-right: 2%;
}
.database{
    width: 100%;
    height: 680px;
    background-color: rgba(0,48,91,0.5) ;
}
.database1{
    width: 47%;
    height: 90px;
    float: left;
    margin-left: 14%;
    margin-top: 250px;
}
.database1 p{
    font-size: 22px;
    font-size: 2.2rem;
    color: #fff;
}
.database2{
    width: 47%;
    height: 50px;
    float: left;
    margin-left: 14%;
    margin-top: 50px;
}
.database2 p{
    font-size: 12px;
    font-size: 1.2rem;
    color: #fff;
}
.science{
    width: 100%;
    height: 638px;
}
.science-left{
    width: 42%;
    height: 638px;
    background-color: #eaf4f6;
    float: left;
}
.science1{
    width: 38%;
    height: 90px;
    float: left;
    margin-top: 92px;
    margin-left: 15%;
}
.science1 .science1-1{
    font-size: 26px;
    font-size: 2.6rem;
    color: #002754;
}
.science1 .science1-2{
    font-size: 26px;
    font-size: 2.6rem;
    color: #001747;
}
.science-right{
    width: 58%;
    height: 638px;
    background-color: white;
    float: right;
}
ul li{
    margin-left: 14%;
    margin-top: 50px;
    color: #002955;
    font-size: 20px;

}
ul .go{
    width: 44px;
    height: 44px;
    background: #2b6ca3;
    color: white;
    border-radius: 22px;
    text-align: center;
    line-height: 44px;
    margin-top: -35px;
    margin-left: 34%;
}
ul p{
    width: 547px;
    height: 92px;
    font-size: 14px;
    margin-left: 15%;
    margin-top: 20px;
    color: #3b6e9c;
}
.subject-service{
    width: 100%;
    height: 806px;
    background: #00305b;
    overflow: hidden;
}
.subject-service p{
    width: 168px;
    height: 46px;
    font-size: 40px;
    color: white;
    margin-top: 85px;
    margin-left: 45%;
}
.subject-main{
    width: 70%;
    height: 557px;
    background: #eaf4f6;
    margin: 25px auto;
    overflow: hidden;
}
.subject-main ul {
    width: 82%;
    height: 408px;
    margin: 10px auto;
    color: #000f41;
    font-size: 20px;
}
.subject-main ul li{
    color: #224c72;
}
.subject-main ul p{
    width: 77%;
    height: 92px;
    font-size: 14px;
    margin-left: 13%;
    margin-top: 10px;
    color: #3b6e9c;
}
.subject-resources{
    width: 100%;
    height: 794px;
    background-color: #eaf4f6;
    margin-top: 410px;
    overflow: hidden;
}
.resources-left{
    width: 19%;
    height: 794px;
    border:1px solid #bdd9ef;
    float: left;
}

.subject-resources p{
    width: 15%;
    height: 46px;
    font-size: 40px;
    color: #002956;
    margin-top: 85px;
    margin-left: 45%;
}
.resources-right{
    width: 62%;
    height: 520px;
    margin-left: 26%;
    margin-top: 54px;
    overflow: hidden;

}
.resources-right1{
    width: 98%;
    height: 108px;
    margin-top: 10px;
    overflow: hidden;
}
.resources-right11{
    width: 20%;
    height: 50px;
    float: left;
}
.resources-right1-1{
    color: #002955;
    text-align: center;
    font-size: 20px;
}
.resources-right1-2{
    margin-top: 8px;
    color: #4385c1;
    text-align: center;
}
.resources-right22{
    width: 80%;
    height: 44px;
    float: right;
    margin-right: -2%;
}
.resources-right22 .resources-right2-1{
    width: 100%;
    height: 38px;
    font-size: 14px;
    color: #15436a;
}
.information{
    width: 100%;
    height: 725px;
    background: url(../images/bg2.jpg)  no-repeat;
    background-size: cover;
}
.information-left{
    width: 42%;
    height: 725px;
    background: rgba(0,48,91,0.9);
    float: left;
    overflow: hidden;
}
.contact{
    width: 55%;
    height: 145px;
    margin-left: 25%;
    margin-top: 134px;

}
.contact p{
    font-size: 38px;
    color: #ffffff;
}
.information-right{
    width: 58%;
    height: 725px;
    background: rgba(0,48,91,0.7);
    float: right;
}
.address{
    width: 17%;
    height: 19px;
    margin-top: 135px;
    margin-left: 17%;
    color: white;
 }
.address .our{
    float: left;
    margin-right: 5px;
}
.info{
    width: 49%;
    height: 67px;
    margin-left: 17%;
    margin-top: 34px;
}
.info p{
    font-size: 16px;
    color: #ffffff;
}
.click{
    width: 182px;
    height: 20px;
    margin-top: 30px;
    margin-left: 17%;
    color: #6dadc3;
}
a{
    color: #6dadc3;
    text-decoration: none;
}
.back{
    width: 100%;
    height: 77px;
    background: #00305b;
    overflow: hidden;
}
.back-on{
    width: 16%;
    height: 40px;
    color: #fff;
    text-align: center;
    margin: 20px auto;
}
.footer{
    width: 100%;;
    height: 107px;
    background: rgba(74,89,113,0.5);
    overflow: hidden;
}
.footer1{
    width: 23%;
    height: 20px;
    margin: 45px auto;
    color: #0f4e88;
}

